<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <module name="FileTabCharacter"/>
    <module name="NewlineAtEndOfFile"/>
    <module name="FileLength"/>
    <module name="LineLength"/>

    <module name="TreeWalker">
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InnerTypeLast"/>
        <module name="InterfaceIsType"/>
        <module name="OneTopLevelClass"/>
        <module name="AvoidInlineConditionals"/>
        <module name="DeclarationOrder"/>
        <module name="DefaultComesLast"/>
        <module name="EmptyStatement"/>
        <module name="FallThrough"/>
        <module name="FinalLocalVariable"/>
        <module name="NestedForDepth"/>
        <module name="NestedIfDepth"/>
        <module name="NestedTryDepth"/>
        <module name="OneStatementPerLine"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="UnusedLocalVariable"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="FinalParameters"/>
        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="4"/>
            <property name="caseIndent" value="4"/>
            <property name="throwsIndent" value="4"/>
            <property name="lineWrappingIndentation" value="4"/>
            <property name="arrayInitIndent" value="4"/>
        </module>

        <module name="UpperEll"/>
        <module name="ClassMemberImpliedModifier" />
        <module name="InterfaceMemberImpliedModifier"/>
        <module name="AbbreviationAsWordInName"/>
        <module name="ConstantName"/>
        <module name="MethodLength" />
        <module name="EmptyLineSeparator"/>
    </module>


</module>
